@font-face {
  font-family: "iconfont"; /* Project id 3178349 */
  src: url('//at.alicdn.com/t/font_3178349_k54fgcbdh6b.woff2?t=1644568040021') format('woff2'),
       url('//at.alicdn.com/t/font_3178349_k54fgcbdh6b.woff?t=1644568040021') format('woff'),
       url('//at.alicdn.com/t/font_3178349_k54fgcbdh6b.ttf?t=1644568040021') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e6ca";
}

.icon-tags:before {
  content: "\e62b";
}

.icon-about:before {
  content: "\e629";
}

.icon-archives:before {
  content: "\e760";
}

.icon-friend:before {
  content: "\ed2e";
}
