@font-face {
  font-family: "iconfont"; /* Project id 3178349 */
  src: url('//at.alicdn.com/t/font_3178349_4vvfy2b2kdq.woff2?t=1648800930137') format('woff2'),
       url('//at.alicdn.com/t/font_3178349_4vvfy2b2kdq.woff?t=1648800930137') format('woff'),
       url('//at.alicdn.com/t/font_3178349_4vvfy2b2kdq.ttf?t=1648800930137') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-apps:before {
  content: "\e600";
}

.icon-arrow-left:before {
  content: "\e685";
}

.icon-arrow-right:before {
  content: "\e687";
}

.icon-moon:before {
  content: "\e62c";
}

.icon-sun:before {
  content: "\e65f";
}

.icon-eye:before {
  content: "\e641";
}

.icon-home:before {
  content: "\e6ca";
}

.icon-tags:before {
  content: "\e62b";
}

.icon-about:before {
  content: "\e629";
}

.icon-archives:before {
  content: "\e760";
}

.icon-friend:before {
  content: "\ed2e";
}
