.markdown-body
  color: #555555 !important
  @media (max-width: 768px)
    font-size: 12px !important
  img
    max-width: calc(100% - 10px) !important
    padding: 4px
    border: 1px solid #eeeeee !important
    cursor: zoom-in
  pre
    max-width: calc(100vw - 70px) !important
    min-width: 250px
    @media (min-width: 1000px)
      max-width: 930px !important