.markdown-body
  color: #555555 !important
  @media (max-width: 768px)
    font-size: 12px !important
  img
    max-width: calc(100% - 10px) !important
    padding: 4px
    border: 1px solid #eeeeee !important
    cursor: zoom-in
  li
    list-style: disc
    li
      list-style: circle