v-fade($duration = 0.8s)
  -webkit-transform: perspective(1px) translateZ(0)
  transform: perspective(1px) translateZ(0)
  -webkit-transition-duration: $duration
  transition-duration: $duration
  -webkit-transition-property: color, background-color
  transition-property: color, background-color