* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::selection {
    color: #ffffff;
    background-color: #262a30;
}

html,
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-size: 14px;
    background-color: var(--blog-color-white-1);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}


.slide-fade-enter-active {
    transition: all 0.3s ease;
}
.slide-fade-leave-active {
    transition: all 0.3s ease;
}
.slide-fade-enter-from,
.slide-fade-leave-to {
    transform: translateY(20px);
    opacity: 0;
}