body[arco-theme='dark'] {
    --blog-color-black-1: #ffffff;
    --blog-color-black-2: #ffffff;
    --blog-color-black-3: #cccccc;
    --blog-color-black-4: #cccccc;

    --blog-color-white-1: #17181a;
    --blog-color-white-2: #1f2022;

    --blog-color-shadow: rgb(0 0 0 / 65%);

    // 背景
    --blog-bg: #333333;

    // 顶部导航栏
    --blog-top-bg: #333333;

    // 文章卡片
    --blog-article-card-bg: #333333;

    // 文章
    --blog-article-bg: #333333;
    --blog-article-next-color: #aaaaaa;
    --blog-article-pay-btn-bg: #882620;
    --blog-article-pay-btn-hover-bg: #bd322b;

    // 底部
    --blog-footer-bg: #333333;

    // 关于我们标题颜色
    --blog-about-title-color: #ffffff;

    // 简历标题颜色
    --blog-resume-title-color: #ffffff;

    // 更多搜索框背景
    --blog-more-input-bg: #333333;
    --blog-more-input-color: white;
    --blog-more-input-border: #666666;
}