body {
    --blog-color-black-1: #17181a;
    --blog-color-black-2: #1f2022;
    --blog-color-black-3: #272727;
    --blog-color-black-4: #555555;

    --blog-color-white-1: #ffffff;
    --blog-color-white-2: #ffffff;

    --blog-color-shadow: rgb(0 0 0 / 10%);

    // 背景
    --blog-bg: #ffffff;

    // 顶部导航栏
    --blog-top-bg: #ffffff;

    // 文章卡片
    --blog-article-card-bg: #ffffff;

    // 文章
    --blog-article-bg: #ffffff;
}