body[arco-theme='dark'] {
    --blog-color-black-1: #ffffff;
    --blog-color-black-2: #ffffff;
    --blog-color-black-3: #cccccc;
    --blog-color-black-4: #cccccc;

    --blog-color-white-1: #17181a;
    --blog-color-white-2: #1f2022;

    --blog-color-shadow: rgb(0 0 0 / 65%);
}